<div class="datos-gruposinvestigacion" *ngIf="grupoinvestigacion">
    <p>
        Nombre de la Persona: {{grupoinvestigacion.nombrePersona}}
    </p>

    <p>
        Numero Seguridad Social: {{grupoinvestigacion.id}}
    </p>

    <p>
        DNI: {{grupoinvestigacion.dni}}
    </p>

    <p>
        Telefono: {{grupoinvestigacion.telefono}}
    </p>

    <p>
        fiebre: {{grupoinvestigacion.fiebre}}
    </p>

    <p>
        tos: {{grupoinvestigacion.tos}}
    </p>

    <p>
        Dificultad Respiratoria: {{grupoinvestigacion.difResp}}
    </p>

    <p>
        Malestar General: {{grupoinvestigacion.malGen}}
    </p>

    <button (click) = "modificar()">
        MODIFICAR
    </button>
</div>